<p id="notice"><%= notice %></p>

<p>
  <strong>Thre:</strong>
  <%= @resp.thre_id %>
</p>

<p>
  <strong>Num:</strong>
  <%= @resp.num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resp.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resp.email %>
</p>

<p>
  <strong>Date:</strong>
  <%= @resp.date %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @resp.userid %>
</p>

<p>
  <strong>Wacchoi:</strong>
  <%= @resp.wacchoi %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @resp.contents %>
</p>

<%= link_to 'Edit', edit_resp_path(@resp) %> |
<%= link_to 'Back', resps_path %>
